/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600&family=Syne:wght@600;700;800&display=swap');

/* frontend/website/src/css/custom.css */
:root {
  --ifm-color-primary: #111827;
  --ifm-color-primary-dark: #0f1522;
  --ifm-color-primary-darker: #0e1420;
  --ifm-color-primary-darkest: #0b101a;
  --ifm-color-primary-light: #2c3445;
  --ifm-color-primary-lighter: #3a4253;
  --ifm-color-primary-lightest: #626a7a;
  --garblo-font-heading: 'Syne', sans-serif;
  --garblo-font-body: 'Plus Jakarta Sans', sans-serif;
}

/* Áp dụng Font cho toàn trang */
body {
  font-family: var(--garblo-font-body);
  background-color: var(--garblo-white);
  color: var(--garblo-black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--garblo-font-heading);
  letter-spacing: -0.02em;
}
/* --- ÉP CĂN GIỮA FOOTER --- */
.footer {
  text-align: center;
}
.footer__links {
  justify-content: center !important;
}
.footer__col {
  flex: none !important;
  margin: 0 3rem; /* Tạo khoảng cách đều giữa các cột */
}
.footer__copyright {
  text-align: center;
}